<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Node Auth</title>

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300">
    <!-- Bootstrap CSS -->
    <link href="https://bootswatch.com/superhero/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        ::selection {
            background: #57bff7;
            color: white;
        }

        ::-moz-selection {
            background: #57bff7;
            color: white;
        }

        *, *:before, *:after {
            box-sizing: inherit;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent; /* For some Androids */
        }

        html {
            box-sizing: border-box;
            font-size: 15px;
        }

        body {
            margin: 0;
            padding: 0;
            position: relative;
            font-family: "Roboto", Helvetica, Arial, sans-serif;
            -webkit-text-size-adjust: auto;
            background-color: #262b30;
            color: #fff;
        }        
        .navbar{
            background-color: #373f46;
            padding: 10px;
        }
        .navbar-brand{
            color: #FFA000 !important;
            text-transform: uppercase;
        }
        .navbar-nav>li>a{
            color: #fff !important;
            margin-right: 5px;
        }
        .navbar-default {
            border: none; 
        }
        .button {
            -webkit-transition: 0.07s all ease-out, 0.05s transform ease-out;
            -moz-transition: 0.07s all ease-out, 0.05s transform ease-out;
            transition: 0.07s all ease-out, 0.05s transform ease-out;
            padding: 8px 16px !important;
            font-weight: bold;
            font-size: 13px;
            font-family: "Roboto", Helvetica, Arial, sans-serif;
            text-decoration: none;
            color: white;
            cursor: pointer;
            text-align: center;
            border-radius: 4px;
            display: inline-block;
            background-color: #aaafb5;
            text-transform: uppercase;
        }
        .button.m-blue,.button.m-blue:hover {
            background-color: #31ABED !important;
        }
        .button.m-yellow,.button.m-yellow:hover {
            background-color: #E0A905 !important;
        }
        .button.m-red,.button.m-red:hover {
            background-color: #EF5350 !important;
        }
        
        .ga-form-wrapper{
            background-color: #3f4852;
            padding: 30px;
        }
    </style>
</head>