<!-- views/profile.ejs -->
<!doctype html>
<html>
<% include partials/head %>

    <body>

        <% include partials/navbar %>
            <div class="container-fluid">
                <div class="page-header text-center">
                    <h1><span class="fa fa-play"></span> Lets Play!!</h1>
                </div>
                <div class="row">
                    <!-- LOCAL INFORMATION -->
                    <a href='#' class="col-sm-6">
                        <div class="well text-center">
                            <h2>
                                <p>AirthmetiCo</p>
                            </h2>
                        </div>

                    </a>
                    <a href='#' class="col-sm-6">
                        <div class="well text-center">
                            <strong><h2><p>Hand Cricket</p></h2></strong>
                        </div>

                    </a>
                </div>
            </div>

    </body>

</html>